header
  nav.space-between-flex
    a.logo(href="/") #[img(src="images/logo.svg", alt="Croudfund logo")]
    button.screen-hide
      img(src="images/icon-hamburger.svg", alt="Nav toggler")
    .mobile-links.mobile-hide
      ul.center-flex(role='menubar')
        li #[a(href='#') About]
        li #[a(href="#")  Discover]
        li #[a(href="#")  Get Started]
