#modal-completed.modal-backdrop.hide
  .modal-completed.modal(role='dialog' aria-modal="true" aria-hidden='true' tabindex='0')
    img(src="images/icon-check.svg", alt="Success")
    h4.title Thanks for your support!
    p Your pledge brings us one step closer to sharing Mastercraft Bamboo Monitor Riser worldwide. You will get an email once our campaign is completed.
    button.btn(aria-label='Close Modal') Got it!