#modal-default.modal-backdrop.hide
  .modal-default.modal(role='dialog' aria-modal="true" aria-hidden='true' tabindex='0')
    //- [1] Header
    div.header
      div.space-between-flex
        h4.title Back this project
        button(class='close-modal' aria-label='Close Modal')
          svg(width="15" height="15" xmlns="http://www.w3.org/2000/svg")
            path(d="M11.314 0l2.828 2.828L9.9 7.071l4.243 4.243-2.828 2.828L7.07 9.9l-4.243 4.243L0 11.314 4.242 7.07 0 2.828 2.828 0l4.243 4.242L11.314 0z" fill="#000" fill-rule="evenodd" opacity=".4")

      p Want to support us in bringing Mastercraft Bamboo Monitor Riser out in the world?


    //- [2] Modal Boxes
    .modal-boxes
      div(class='box no-reward', tabindex='0', aria-labelledby='no-reward-label', aria-describedby='no-reward-description')
        div
          input(type="radio", name="modal-default")
          span
          span#no-reward-label.title Pledge with no reward
        div
          p#no-reward-description Choose to support us without a reward if you simply believe in our project. As a backer, you will be signed up to receive product updates via email.
        form.center-flex(onsubmit='submitModal(event)')
          input(type="submit", value="Continue", class='btn')

      include modal-plan-box
      +box('Bamboo Stand', '25', "You get an ergonomic stand made of natural bamboo. You've helped us launch our promotional campaign, and you’ll be added to a special Backer member list.", 101)
      +box('Black Edition Stand', '75', "You get a Black Special Edition computer stand and a personal thank you. You’ll be added to our Backer member list. Shipping is included.", 64)
      +box('Mahogany Special Edition', '200', "You get two Special Edition Mahogany stands, a Backer T-Shirt, and a personal thank you. You’ll be added to our Backer member list. Shipping is included.", 0)