$darkCyan: hsl(176, 72%, 28%);
$moderateCyan: hsl(176, 50%, 47%);

$black: hsl(0, 0%, 0%);
$overlayColor: rgba($black, 0.3);

$darkGray: hsl(0, 0%, 48%);
$lightGray: hsl(0, 0%, 96%);
$moderateGray: hsl(0, 0%, 85%);

$breakPoint: 992px;
